/* Контейнер */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 25px;
}

/* Скрываем настоящий checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Фон слайдера */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #D2D2D2;
    border-radius: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.3s;
}

/* Круглая кнопка */
.slider::before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* При активном переключателе */
input:checked + .slider {
    background-color: black;
}

/* Двигаем кружок вправо при включении */
input:checked + .slider::before {
    transform: translateX(17px);
}
